<div class="row">
  <button class="btn btn-primary m-2 pull-right" [routerLink]="['add']">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Payment
  </button>
</div>
<kendo-grid
  [kendoGridBinding]="paymentsList"
  [filterable]="true"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [height]="400"
  (pageChange)="pageChange($event)"
  scrollable="none"
>
  <kendo-grid-column
    field="sourceAccountNumber"
    title="Source AccountNumber"
    filter="text"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="destinationAccountNumber"
    filter="numeric"
    title="Destination AccountNumber"
  >
  </kendo-grid-column>
  <kendo-grid-column field="amount" filter="numeric" title="Amount">
  </kendo-grid-column>
  <kendo-grid-column field="currencyCode" filter="text" title="Currency Code">
  </kendo-grid-column>
  <kendo-grid-column
    field="paymentDescription"
    filter="text"
    title="Payment Description"
  >
  </kendo-grid-column>

  <kendo-grid-command-column title="View" width="220">
    <ng-template
      kendoGridCellTemplate
      let-isNew="isNew"
      let-dataItem="dataItem"
    >
      <button
        kendoGridEditCommand
        (click)="details(dataItem)"
        data-toggle="modal"
        data-target="#viewModal"
        [primary]="true"
      >
        View Details
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<!--Modal Popup-->
<div
  class="modal fade bd-example-modal-lg"
  #viewModal
  id="viewModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Page</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <label>
                Source AccountNumber :
                {{ paymenetDetails.sourceAccountNumber }}</label
              >
            </div>
            <div class="col-md-12">
              <label>
                Destination AccountNumber :
                {{ paymenetDetails.destinationAccountNumber }}</label
              >
            </div>
            <div class="col-md-12">
              <label> Amount : {{ paymenetDetails.amount }}</label>
            </div>
            <div class="col-md-12">
              <label> Currency Code : {{ paymenetDetails.currencyCode }}</label>
            </div>
            <div class="col-md-12">
              <label>
                Payment Description :
                {{ paymenetDetails.paymentDescription }}</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
