<div class="row">
  <button class="btn btn-primary m-2 pull-right" [routerLink]="['add']">
    <i class="fa fa-plus" aria-hidden="true"></i> Add Accounts
  </button>
</div>
<kendo-grid
  [kendoGridBinding]="accountList"
  [filterable]="true"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  [height]="400"
  (pageChange)="pageChange($event)"
  scrollable="none"
>
  <kendo-grid-column field="accountHolderName" title="Name" filter="text">
  </kendo-grid-column>
  <kendo-grid-column
    field="accountNumber"
    filter="numeric"
    title="Account Number"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="accountHolderPhoneNumber"
    filter="numeric"
    title="PhoneNumber"
  >
  </kendo-grid-column>
  <kendo-grid-column
    field="accountDescription"
    filter="text"
    title="Description"
  >
  </kendo-grid-column>

  <kendo-grid-command-column title="View" width="220">
    <ng-template
      kendoGridCellTemplate
      let-isNew="isNew"
      let-dataItem="dataItem"
    >
      <button
        kendoGridEditCommand
        (click)="details(dataItem)"
        data-toggle="modal"
        data-target="#viewModal"
        [primary]="true"
      >
        View Details
      </button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>
<!--Modal Popup-->
<div
  class="modal fade bd-example-modal-lg"
  #viewModal
  id="viewModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Page</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <label>
                Account Holder Name :
                {{ accountDetails.accountHolderName }}</label
              >
            </div>
            <div class="col-md-12">
              <label> Account No : {{ accountDetails.accountNumber }}</label>
            </div>
            <div class="col-md-12">
              <label>
                Phone Number :
                {{ accountDetails.accountHolderPhoneNumber }}</label
              >
            </div>
            <div class="col-md-12">
              <label>
                Description : {{ accountDetails.accountDescription }}</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
