<form [formGroup]="addAccountForm" novalidate>
  <div class="contanier-fluid">
    <div class="row mt-5 mr-2">
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Account Number</label>
          </div>
          <div class="col-md-7">
            <input
              formControlName="accountNumber"
              type="number"
              class="form-control"
            />
            <span
              class="error-msg"
              *ngIf="f.accountNumber.errors?.range"
              style="position: relative;
                                  display: inline-block;"
              >Account Number must be 6</span
            >
            <span
            class="error-msg"
            *ngIf="f.accountNumber.errors && submitted"
            style="position: relative;
                                display: inline-block;"
            >Account Number is Required</span
          >
          </div>
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Phone Number: </label>
          </div>
          <div class="col-md-7">
            <input
              id="tel"
              class="form-control"
              phoneMask
              [preValue]="addAccountForm.value.accountHolderPhoneNumber"
              [phoneControl]="
                addAccountForm.controls['accountHolderPhoneNumber']
              "
              formControlName="accountHolderPhoneNumber"
              maxlength="14"
              [ngClass]="
              addAccountForm.controls['accountHolderPhoneNumber'].invalid ? 'errmsg' : 'validmsg'
              "
            />
            <span
            class="error-msg"
            *ngIf="f.accountHolderPhoneNumber.errors"
            style="position: relative;
                                display: inline-block;"
            >Phone is Invalid</span
          >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row clearfix">
          <div class="col-md-5">
            <label class="float-right">Account Holder Name: </label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              id="accountHolderName"
              type="text"
              formControlName="accountHolderName"
            />
          </div>
          <span
          class="error-msg"
          *ngIf="f.accountHolderName.errors && submitted"
          style="position: relative;
                              display: inline-block;"
          >Account Holder Name is Required</span
        >
        </div>
        <div class="row clearfix mt-3">
          <div class="col-md-5">
            <label class="float-right">Account Description:</label>
          </div>
          <div class="col-md-7">
            <input
              class="form-control"
              id="accountDescription"
              type="text"
              formControlName="accountDescription"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row m-2">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-secondary ml-2" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
