<!-- <div class="container">
  <div class="tab-slider--nav">
    <ul class="tab-slider--tabs">
      <li
        class="tab-slider--trigger"
        [class.active]="viewMode == 'tab1'"
        [routerLink]="['/home/account']"
        rel="tab1"
        (click)="viewMode = 'tab1'"
      >
        Account Module
      </li>
      <li
        class="tab-slider--trigger"
        [routerLink]="['/home/payment']"
        [class.active]="viewMode == 'tab2'"
        rel="tab2"
        (click)="viewMode = 'tab2'"
      >
        Payment Module
      </li>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">
    <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
      <router-outlet></router-outlet>
    </div>

    <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
