<style>
  #nav {
    display: none;
  }

  html,
  body,
  #login-page {
    height: 100%;
  }

  body {
    padding-top: 0px !important;
  }

  .error-msgLogin {
    font-size: 14px;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    margin: 10px;
    display: none;
  }
</style>

<div id="login-page">
  <section id="login">
    <div class="container">
      <div class="row">
        <div>
          <div class="form-wrap panel">
            <a href="/web/home" tabindex="-1">
              <img class="img-responsive" style="margin:auto;" />
            </a>
            <h1>Log In To Your Account</h1>
            <div class="alert alert-primary" role="alert">
              Username: admin && password : admin
            </div>
            <div></div>
            <hr />

            <div id="login-form">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </span>
                  <input
                    type="text"
                    id="username"
                    [(ngModel)]="username"
                    class="form-control"
                    placeholder="Username/Email"
                    tabindex="1"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    id="accPwd"
                    [(ngModel)]="password"
                    tabindex="2"
                    ng-enter="login()"
                  />
                </div>
              </div>

              <div class="checkbox">
                <!-- <input
                  type="checkbox"
                  aria-label="Checkbox for following text input"
                  ng-click="handleRememberMe()"
                  onclick="onRememberPwdChange()"
                  tabindex="3"
                /> -->
                <!-- <span
                  class="character-checkbox"
                  ng-click="handleRememberMe()"
                  onclick="onRememberPwdChange()"
                  tabindex="3"
                ></span> -->
                <!-- <span class="label">Remember me</span> -->
              </div>
              <input
                type="submit"
                id="btn-login"
                class="btn btn-primary"
                (click)="login()"
                value="LOG IN"
                tabindex="4"
              />
            </div>

            <div class="text-center">
              <a href="#" class="forget inline-block" tabindex="5"
                ><b>Cancel</b></a
              >
            </div>
            <br />

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
</div>

<script>
  function onRememberPwdChange() {
    if (!$("#accPwd").prop("checked")) {
      $(".checkbox").addClass("show");
      $("#accPwd").prop("checked", true);
    } else {
      $("#accPwd").prop("checked", false);
      $(".checkbox").removeClass("show");
    }
  }

  setTimeout(function() {
    $("#login-page").css({ visibility: "visible" });
  }, 1000);

  $(window).load(function() {
    $("#login-page").css({ "min-height": $(window).height() - 78 });
  });
  $(window).resize(function() {
    $("#login-page").css({ "min-height": $(window).height() - 78 });
  });
</script>
