/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$color_1: red;
$color_2: #6c7178;
$color_3: #007bff;
$font_family_1: Roboto, "Helvetica Neue", sans-serif;
$background_color_1: #007bff;
$background_color_2: #fff;

sup {
  color: $color_1;
}
.error-msg {
  color: $color_1;
}

.tab-slider--trigger {
  display: inline-block;
  position: relative;
  margin: 15px;
  padding: 10px;
  background: #7e7ee4;
  color: #fff;
  cursor: pointer;
}

.tab-slider--nav {
  background: #c1c1c1;
}

.k-dropdown .k-dropdown-wrap .k-select {
  display: none !important;
}

.errmsg{
  border-left: 3px solid red;
}
.validmsg{
border-left: 5px solid #42A948; /* green */
}